body{
    margin: 0;
}

#Header{
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height:650px;
    /*margin: 10pt;*/
    margin-bottom: 0;
    margin-left: 0;

    display: table;
    vertical-align: middle;
    text-align: center;
}

#Header_title{
    display: inline-block;
    width: 50%;
    height: 100%;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#Header_title > h1{
	margin: 0 0 0 0;
	font-size: 48pt;
	font-family: 微軟正黑體;
	padding: 15px 0 15px 15px;
}

#Header_title > h2{
	margin: 0 0 0 0;
	font-family: 微軟正黑體;
	font-size: 18pt;
	padding: 15px 0 15px 15px;
}

/*=================================================*/

#Header_select_bar{
    font-family: Yu Gothic;
    font-size: 24pt;
    width: 100%;
    height: 100%;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#Header_select_bar ul{
    border-style: solid;
    border-width: 0 0 0 1px;
    padding-left: 0;
    margin:0 0 10pt 0pt;
    padding: 10pt 0 10pt 18pt;
    list-style-type: none;
    width:100%;
}

#Header_select_bar ul > li{
    text-align: left;
    width: 40%;
}

#Header_select_bar ul > li a{
    color: rgba(0,0,0,1);
    display: block;
    text-align: left;
    text-decoration: none;
}

#Header_select_bar ul > li a:hover{
    background-color: rgba(80,255,80,0.4);
}

#Header_select_bar ul > li a:active{
    background-color: rgba(0,255,0,0.7);
}

/*=================================================*/
